<div class="container-fluid">
    <div class="pt-3 pl-3">
        <h5 class="d-inline-block content-heading"><strong>Do's</strong></h5><br>
        <p>
            <span class="contentpara">1.<strong>Do validate your tickets when travelling on train or bus</strong> –
                while in Sydney, one should have an OPAL card which is reusable smart card for public transport. </span><br>

            <span class="contentpara">2. <strong>Do keep lower denominations coins and lower value notes</strong>,
                as drivers and ticket booth operators are not happy to exchange large value notes. </span><br>

            <span class="contentpara">3.<strong>Do visit the Sydney Opera House</strong>.
                Every night, the Sydney Opera House is illuminated with a projection called Badu Gili,
                which shows the work of First Nations artists from across Australia and the Torres Strait Islands,
                with new artists regularly appearing on the impressive sails. </span><br>
        </p>

        <h5 class="d-inline-block content-heading"><strong>Don'ts</strong></h5><br>
        <p>
            <span class="contentpara">1.<strong>Don’t rely only on credit cards</strong> when visiting Sydney.
                Credit cards are not used very often – Most places only take cash. </span><br>

            <span class="contentpara">2. <strong>Don’t dress up in a suit when going to Star Casino, Opera House,
                    Sydney Cricket Ground</strong>; in these places,
                you’ll better fit in with casual dress code. </span><br>

            <span class="contentpara">3. <strong>Don’t go out for dinner too late</strong>.
                It is hard to find a restaurant open late in the evening because Sydney is a city of early risers,
                most cafés in Sydney are cracking open the first bag of beans by 7am . Even the local shops are open
                till 7pm at the latest. </span><br>

            <span class="contentpara">4. <strong>Don’t smoke in open areas.</strong> Many Australian cities are pushing
                towards being a smoke-free. For a basic Sydney no-go list, remember that smoking isn't permitted
                anywhere food is served, on public transport or at bus and train stations,
                close to playgrounds or public recreation areas, at sporting grounds and close to any building
                entrance.</span><br>

            <span class="contentpara">5. <strong>Don’t forget to keep your fluids up. </strong>Even in winter that
                infamous Aussie sun may shine through and leave you red
                in the face with embarrassment and a not-so-healthy tan for forgetting your sunscreen. To save your
                skin, your go-to is SPF 30+. </span><br>

            <span class="contentpara">6. <strong>Don’t miss food on a budget</strong>: A gobsmacking view,
                but satisfying budget dinner in Aria Restaurant .Quay Restaurant is one of the best. </span>
        </p>


    </div>

</div>