<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="border-right" id="sidebar-wrapper">
    <h5 id="rot">Mahindra Annual Supplier Meet, Sydney 2020</h5>
    <div class="main-logo">
      <a href="#"><img src="../../assets/images/SuppPub.png"></a>
    </div>
    <div class="list-group list-group-flush p-custom position-relative">
      <div class="d-inline position-absolute right_0">
        <a   routerLinkActive="active-link" (click)="gotoRoute('sydney')" class="list-group-item list-group-item-action bg-transparent d-inline sidetabs mb-1">
          <img src="../../assets/images/LocationIcon.svg"><span class="pl-3">Sydney</span></a><br>
        <a  routerLinkActive="active-link"  (click)="gotoRoute('conference')" class="list-group-item list-group-item-action bg-transparent d-inline sidetabs mb-1">
          <img src="../../assets/images/conferenceIcon.svg"><span class="pl-3">Conference</span></a><br>
        <a routerLink="registration" routerLinkActive="active-link" class="list-group-item list-group-item-action bg-transparent d-inline sidetabs mb-1">
          <img src="../../assets/images/registrationicon.svg"><span class="pl-3">Registration</span></a><br>
        <a routerLink="contact" routerLinkActive="active-link" class="list-group-item list-group-item-action bg-transparent d-inline sidetabs mb-1">
          <img src="../../assets/images/contacticon.svg"><span class="pl-3">Contact</span></a><br>
      </div>
      
    </div>
  </div>
  <!-- /#sidebar-wrapper routerLink="sydney" -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="topnav-img">
      <div class="togglebtn">
        <button class="btn btn-primary" id="menu-toggle">Side Menu</button>
      </div>
      <div class="waves">
        <img src=".../../../../assets/images/Innerpagewave.png" class="waveImg">
      </div>
    </div>

<div class="content-div">
  <nav class="navbar navbar-expand-lg border-bottom fixed_nav p-0 back_white">
    <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav d-md-flex justify-content-between w-50">
        <li class="nav-item active">
          <a routerLink="itinerary" routerLinkActive="active-link" class="nav-link pr-2 pt-0 pl-2 pb-2 " >Itninerary</a>
        </li>

        <li class="nav-item">
          <a class="nav-link pr-2 pt-0 pl-2 pb-2" routerLink="hotel" routerLinkActive="active-link">Hotel</a>
        </li>

        <li class="nav-item">
          <a class="nav-link pr-2 pt-0 pl-2 pb-2 active-link" routerLink="howToReach" routerLinkActive="active-link">How To Reach</a>
        </li>
      </ul>
    </div>
  </nav>
  <div style="margin-top: 20px;">

    <div class="container-fluid">
      
          <div class='row'>
            <div class='col-md-7 col-sm-12 col-xs-12 vert_line position-relative'>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-2 col-sm-12 p-0 text_resp">
                    <img src="../../../assets/images/hotel.svg">
                  </div>
                  <div class="col-md-10 col-sm-12 p-0">
                    <span class="contentpara">Hotel is 15.8 km from Sydney Airport and it will take 18 mins to
                      reach hotel.</span><br>
                    <span class="contentpara"> We recommend you to take a taxi from the airport.</span>
                  </div>
                </div>
              </div>
              
  
  
  
  
            </div>
            <div class="col-sm-12 col-md-5 col-xs-12">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-2 col-sm-12 p-0 text_resp">
                    <img src="../../../assets/images/location.svg" class="locImg">
                  </div>
                  <div class="col-md-10 col-sm-12 p-0 text-center">
                    <span class="contentpara">Address:</span><br>
                    <span class="contentpara">161,Elizabeth Street,2000 Australia</span>
                  </div>
                </div>
              </div>
              
              <!-- <div class='second-column' class="vl">
                
                <span class="contentpara"><strong>Address:</strong><br></span>
                <span class="contentpara" style="margin-left: 50px; "> 161,Elizabeth Street,2000 Australia&nbsp;</span>
              </div> -->
           
        </div>
      </div>
      <div class="w-100" style="margin-top: 20px; margin-bottom: 0px; width: 20px;">
        <img src="../../../assets/sites/Government.jpg" alt="Pineapple" class="img-fluid">
  
      </div>
  
    </div>
  </div>
</div>

</div>
</div>