<div class="container-fluid">
    <div class="pt-3 pl-3">
        <h5 class="d-inline-block content-heading"><strong>Documents</strong></h5><br>
        <p>
            <span class="contentpara">While at Sydney, carry only passport copies and leave the original passport in
                room's locker and do not give your passport to any person, irrespective of his/her identity. The only
                exception is at the hotel reception for verification.&nbsp;</span>
        </p>

        <h5 class="d-inline-block content-heading"><strong>Smoking</strong></h5><br>
        <p>
            <span class="contentpara">Available only in designated smoking Areas and Hotels.</span>
        </p>

        <h5 class="d-inline-block content-heading"><strong>Precautions</strong></h5><br>
        <p>
            <span class="contentpara">Keep your luggage locked, do not leave expensive/attractive items/sensitive
                documents around when you are not in the room. When outdoors, if you find yourself in any untoward
                situation, stay calm and avoid panic and please follow the immediate steps:</span>
            <span class="contentpara">1.&nbsp;Walk away from the site if you can.</span>
            <span class="contentpara">2.&nbsp;If you cannot, call the emergency number given in the pocket itinerary
                provided to you, please try to locate the nearest prominent identifiable landmark such as hotel,
                hospital or restaurant so that you can inform the same to the contact.</span>
        </p>

        <h5 class="d-inline-block content-heading"><strong>Theft Inside the Hotel Room</strong></h5><br>
        <p>
            <span class="contentpara">WIn case of theft or missing items, please follow the following steps:</span><br>
            <span class="contentpara">1.&nbsp;Conduct a thorough search for the missing article in all your
                belongings.</span><br>
            <span class="contentpara">2.&nbsp;Check with your colleagues.</span><br>
            <span class="contentpara">3.&nbsp;Check the same with hotel's lost and found department.</span><br>
            <span class="contentpara">4.&nbsp;Report the missing article/s to the hotel security and the organizing
                committee.</span><br>
        </p>


    </div>

</div>