/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/



/*form styles*/
#msform {
	width: 100%;
	/* margin: 50px auto;
	text-align: center; */
	position: relative;
}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    /* box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); */
    padding: 20px 30px;
    box-sizing: border-box;
    width: 90%;
    margin: 0 5% 0 5%;
    position: relative;
    min-height: 75vh;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
/* #msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
} */
/*buttons*/
#msform .action-button {
    /* width: 180px; */
    background: red !important;
    /* font-weight: bold; */
    color: white !important;
    /* border: 0 none; */
    /* border-radius: 3px; */
    /* border-radius: 4px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px; */
}

/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
    counter-reset: step;
    padding: 0;
}
#progressbar li {
	list-style-type: none;
	color: black;

	font-size: 18px;
	width: 33.33%;
	float: left;
    position: relative;
    text-align: center;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #adafb3;
    background: #adafb3;
    border-radius: 33.33px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #adafb3;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: #27AE60;
}
.fixed_nav .active-link {
    color: black !important;
    border-bottom: 1px solid red;
  }
  .vert_line::after{

    content:" ";
    position: absolute;
    background-color:#F5F5F5 ;
    height: 100%;
    width: 3px;
    left: 274px;
    top: 0;
    z-index: 1;
  }
.left_arrow{
    border: 1px solid black;
    padding: 5px 6.5px;
    border-radius: 50%;
}

/* .mg-ve{
    margin-top: -34px;
} */
.cst-input{
    width: 360px !important;
    /* padding: 5px !important; */
    height: 38px !important;

}
.continue{
    position: fixed !important;
    bottom: 15px !important;
    transform: translateX(-50%);
    left: 50%;
}
.back{
    position: fixed !important;
    bottom: 25px !important;

}
b, strong {
    font-weight: 400;
}



// home css


/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */
 body {
    overflow-x: hidden;
  }
  #wrapper{
    overflow: hidden;
      height: 100vh;
  }
  .main-logo{
    background-color: white;
    display: inline-block;
    border-top-right-radius: 33.33px;
    border-bottom-right-radius: 33.33px;
  }
  .main-logo img{
    padding: 15px 18px 15px 20px;
    height: 55px;
  }
  #sidebar-wrapper {
    height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    background: linear-gradient(
                       rgba(0,0,0, .7), 
                       rgba(0,0,0, .7)),url('../../../assets/images/Homepage_bg.jpg');
      background-repeat: no-repeat;
      background-position: left;
      background-size: cover;
  }
  #rot{
      font-size: 22px;
      opacity: 0.5;
      font-weight: 200;
  transform: rotate(270deg);
  transform-origin: bottom;
      position:absolute;
      bottom:222px;
      margin-left:-170px;
      color: white;
  }
  .p-custom{
    /* padding-left: 115px; */
    padding-top: 100px;
  }
  .right_0{
    right: 0;
  }
  .list-group-item-action{
  color: #f8f9fa !important;
  }
  .sidetabs{
    border: none;
    /* color: #f8f9fa; */
    display: inline-block !important;
    padding: 10px !important;
  }
  .sidetabs.active-link{
    background: linear-gradient(
                       rgba(255,255,255, .3), 
                       rgba(255,255,255, .3));
    color: white;
    border-bottom-left-radius: 33.33px;
    border-top-left-radius: 33.33px;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  .topnav-img{
    background: url('../../../assets/images/Innerheaderimage.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 215px;
    position: relative;
  }
  .waves{
    position: relative;
    bottom: -130px;
  }
  .waveImg{
    width: 110%;
    height: 100px;
    
  }
  .togglebtn{
    display: inline;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 1024px) {
    .togglebtn{
      display: none;
    }
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  
  }
