<div class="container-fluid backimg p-0 col-12 js-count-particles particles-js">
  <div class="main-logo">
      <a><img src="../../assets/images/SuppPub.png"></a>
  </div>
  <div class="text-center text-white pt-4">
      <h1 class="landing-heading d-inline">Mahindra Annual Supplier Meet, Sydney 2020</h1>
  </div>
  <div class="col-md-6 col-lg-7 col-xl-4 mx-auto text-center reg-div position-relative mt-5">
      <div class="position-absolute conference text-center links">
          <a routerLink="home/conference">
          <img src="../../assets/images/conferenceIcon.svg">
          <span class="d-block">Conference</span>
      </a>
      </div>
      <div class="position-absolute sydney text-center links">
          <a routerLink="home/sydney">
          <img src="../../assets/images/LocationIcon.svg">
              <span class="d-block">Sydney</span>
      </a>
      </div>
      <div class="position-absolute contact text-center links">
          <a routerLink="home/contact">
          <img src="../../assets/images/contacticon.svg">
          <span class="d-block">Contact</span>
      </a>
      </div>
      <a routerLink="home/registration">
      <img src="../../assets/images/Registration.png" class="img-fluid regimg">
  </a>
  </div>
</div>


