<div class="container-fluid">
    <div class="pt-3 pl-3">
      <div class="d-inline imagedivs">
        <img src="../../../../assets/sites/About1.jpg" alt="Pineapple" class="img-trnsfm">
  
      </div>
      <h1 class="d-inline-block content-heading">Sydney At a Glance</h1><br>
      <span class="contentpara">One of the most multicultural cities in the world, Sydney is way ahead in
        popularity amongst visitors than
        Australia’s lesser-known capital city—Canberra. Sydney is the state capital of New South Wales and also
        the
        most populous city in Australia and Oceania with an estimated population of 5,230,330. Located on
        Australia's east coast, the metropolis surrounds Port Jackson and extends about 70 km on its periphery
        towards the Blue Mountains to the west, Hawkesbury to the north, the Royal National Park to the south and
        Macarthur to the south-west. The city is made up of 658 suburbs, 40 local government areas and 15
        contiguous
        regions and the residents are known as "Sydneysiders".</span><br><br>
      <span class="contentpara">Despite being one of the most expensive cities in the world, Sydney ranks five in
        the list of top ten most livable cities in the world. It is classified as an Alpha+ World City by
        Globalization and World Cities Research Network, indicating its influence in the region and throughout the
        world. Ranked eleventh in the world for economic opportunity, Sydney has an advanced market economy with
        strengths in finance, manufacturing and tourism.</span><br><br>
      <span class="contentpara">The city is among the top fifteen most-visited cities in the world, with millions
        of tourists coming each year to see the city's landmarks. Boasting over 1,000,000 ha (2,500,000 acres) of
        nature reserves and parks, its notable natural features include Sydney Harbour, the Royal National Park,
        Royal Botanic Garden and Hyde Park, the oldest parkland in the country. Built attractions such as the
        Sydney Harbour Bridge and the World Heritage-listed Sydney Opera House are also well known to
        international visitors. The main passenger airport serving the metropolitan area is Kingsford-Smith
        Airport, one of the world's oldest continually operating airports. Established in 1906, Central station,
        the largest and busiest railway station in the state, is the main hub of the city's rail network.</span>
    </div>
  
  </div>
  <div class="container-fluid">
    <div class="pt-3 pl-3">
      <div class="d-inline imagedivs2">
        <img src="../../../../assets/sites/Government.jpg" alt="Pineapple" class="img-trnsfm">
  
      </div>
      <h1 class="d-inline-block content-heading">Government</h1><br><br><br><br>
      <span class="contentpara">
        <div>
          Type:&nbsp;&nbsp; <strong>Federal or Commonwealth</strong></div>
        <div>
          Lord Mayor<span class="contentpara">: </span> <b>Clover Margaret Moore</b></div>
        <div>
          Australia's Head of State: <strong>The Queen of Australia, Her Majesty Queen Elizabeth II</strong></div>
      </span><br><br> <br><br>
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="pt-3 pl-3">
      <div class="d-inline imagedivs3">
        <img src="../../../../assets/sites/Area.jpg" alt="Pineapple" class="img-trnsfm3">
  
      </div>
      <h1 class="d-inline-block content-heading">Area</h1><br>
      <span class="contentpara">
        <strong>Area</strong> :&nbsp;
        Australia is spread over an area of 7.692 million square kilometer, with Sydney occupying 12,368 square
        kilometers.</span><br>
      <span class="contentpara">
        Language:&nbsp;Though Australia has no official language, English is regarded as the de facto national language
        and is spoken by the majority of the population.
        English is the most commonly spoken language in Australia.<br></span>
  
      <span class="contentpara">Currency: Australian Dollar</span><br>
      <span class="contentpara">1 Australian Dollar =&nbsp;48.70 Indian Rupee</span><br>
  
      <span class="contentpara">Climate&nbsp;(in June):</span><br>
      <span class="contentpara"> Minimum Temperature: 10 degrees Celsius or 50 F&nbsp; &nbsp;</span><br>
      <span class="contentpara"> Minimum Temperature: 10 degrees Celsius or 50 F&nbsp; &nbsp;</span><br>
      <span class="contentpara">Maximum Temperature: 18 degrees Celsius or 64 F&nbsp; &nbsp;</span><br>
      <span class="contentpara">Average Temperature: 14 degrees Celsius or 57 F&nbsp;&nbsp; &nbsp;</span>
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="pt-3 pl-3">
      <div class="d-inline imagedivs4">
        <img src="../../../../assets/sites/Around.jpg" alt="Pineapple" class="img-trnsfm">
  
      </div>
      <h1 class="d-inline-block content-heading"><strong>Getting Around the City</strong></h1><br>
      <span class="contentpara">Even with its diverse suburbs and attractions, Sydney is an easy city to get around.
        Public transport is used across Australia by locals, commuters and visitors alike, and Sydney is no exception.
        To use public transport including buses, trains, ferries and light rail in Sydney, one needs to purchase an
        Opal card. The Opal card can be purchased from participating newsagents, post offices, convenience stores and
        supermarkets. Just look for the Opal symbol. The Opal card can also be bought at the time of arrival at the
        domestic and international airport terminal stations. The Opal network includes services in Sydney, the Blue
        Mountains, Central Coast, Hunter Valley, Illawarra and
        the Southern Highlands.&nbsp;</span><br><br>
  
      <span class="contentpara">
        Sydney has a comprehensive bus network. Many buses travel through the city from Wynyard and Circular Quay, and
        beyond to Sydney’s suburbs, beaches and regional areas. There are regional bus services that travel to the Blue
        Mountains, and along the coast to other Australian towns and cities,
      </span><br><br>
      <span class="contentpara">
        departing from Eddy Avenue in front of Central Station. One can also hop onto a Big Bus Tour of Sydney, which
        stops at 33 destinations across the city, with services running every 20-30 minutes, first departing from Circular
        Quay.
      </span><br><br>
  
  
  
  
  
      <span class="contentpara">Sydney’s light rail network goes from Central Station to Dulwich Hill. It’s most
        convenient for reaching Chinatown, The Powerhouse Museum in Ultimo, The International Convention Centre in Darling
        Harbour,
        and The Star Casino and the Australian National Maritime Museum in Pyrmont and the Tramsheds in Forest
        Lodge.</span><br><br>
  
      <span class="contentpara">The City Circle is the train network that runs a loop around the city, stopping at the
        following stations: Central, Museum, St James, Town Hall, Wynyard, Circular Quay and Martin Place. This is the
        easiest way to get around the city centre.</span><br><br>
    </div>
  
  </div>