<div>
    <div class="row">
        <div class="col3">

        </div>
<div class="col-9">
    <div class="flexcroll" 
    style="width:762px;text-align:justify;line-height:18px;overflow:hidden;
    padding-right:5px;padding-bottom:0px;margin-left: 30%; margin-top: 13%;">    
    <div>
    <img  align="left" src="../../assets/sites/About1.jpg" hspace="20" alt="" style="width:367px;height:230px;margin-right:7px;margin-bottom:5px">
   <div class="ms-rteFontFace-5 ms-rteFontSize-3"><span style="font-size:12pt">&nbsp;</span><span style="font-size:12pt">One of the most multicultural cities in the world, Sydney is way ahead in popularity amongst visitors than Australia’s lesser-known capital city—Canberra. Sydney is the state capital of New South Wales and also the most populous city in Australia and Oceania with an estimated population of 5,230,330. Located on Australia's east coast, the metropolis surrounds Port Jackson and extends about 70 km on its periphery towards the Blue Mountains to the west, Hawkesbury to the north, the Royal National Park to the south and Macarthur to the south-west.  The city is made up of 658 suburbs, 40 local government areas and 15 contiguous regions and the residents are known as "Sydneysiders".</span></div></div>
   <div class="ms-rteFontFace-5 ms-rteFontSize-3">
       <div class="ms-rteFontFace-5 ms-rteFontSize-3"><br>
    </div>
   <div class="ms-rteFontFace-5 ms-rteFontSize-3">Despite being one of the most expensive cities in the world, Sydney ranks five in the list of top ten most livable cities in the world. It is classified as an Alpha+ World City by Globalization and World Cities Research Network, indicating its influence in the region and throughout the world. Ranked eleventh in the world for economic opportunity, Sydney has an advanced market economy with strengths in finance, manufacturing and tourism.</div>
   <div class="ms-rteFontFace-5 ms-rteFontSize-3"><br></div>
   <div class="ms-rteFontFace-5 ms-rteFontSize-3">The city is among the top fifteen most-visited cities in the world, with millions of tourists coming each year to see the city's landmarks. Boasting over 1,000,000 ha (2,500,000 acres) of nature reserves and parks, its notable natural features include Sydney Harbour, the Royal National Park, Royal Botanic Garden and Hyde Park, the oldest parkland in the country. Built attractions such as the Sydney Harbour Bridge and the World Heritage-listed Sydney Opera House are also well known to international visitors. The main passenger airport serving the metropolitan area is Kingsford-Smith Airport, one of the world's oldest continually operating airports. Established in 1906, Central station, the largest and busiest railway station in the state, is the main hub of the city's rail network.</div>
   <div>
       <br>
</div>
</div>
   <span class="ms-rteFontSize-3">
   </span>    
    </div>    
   </div>
   </div>
   </div>
